*,
*::before,
*::after {
  box-sizing: border-box; }

a {
  padding: 0;
  margin: 0; }

img {
  max-width: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif; }

svg {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

#banner {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.nav-icon, .tt-nav, .tt-header,
.bm-nav, .bm-header, .a-header, .a-nav {
  position: relative;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  padding: 6px; }

.bw-link {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: 'relative'; }

.code-icon {
  padding: 0; }

.active-nav {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  .active-nav svg {
    color: black !important;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }

.nav-icon:hover, .tt-nav:hover, .tt-header:hover,
.bm-nav:hover, .bm-header:hover,
.a-nav:hover, .a-header:hover,
.demo-icon:hover, .bw-link:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.code-icon:hover {
  padding-top: 4px;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.nav:before, .nav-icon:before,
.tt-nav:before, .tt-header:before,
.bm-nav:before, .bm-header:before,
.a-nav:before, .a-header:before,
.bw-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #C2A83E;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.code-icon:before, .demo-icon:before,
.bw-link:before {
  height: 0; }

.tt-header:before, .tt-nav:before {
  background-color: #1976D2; }

.bm-nav:before, .bm-header:before {
  background-color: #FF4081; }

.a-nav:before, .a-header:before {
  background-color: #B4DC7F; }

.bw-link:before {
  background-color: black; }

.nav:hover {
  font-size: 58px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.nav:hover:before, .nav-icon:hover:before,
.tt-nav:hover:before, .tt-header:hover:before,
.bm-nav:hover:before, .bm-header:hover:before,
.a-nav:hover:before, .a-header:hover:before,
.bw-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }

.active-nav:hover:before {
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0); }

.pageSlider-enter {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0); }

.pageSlider-enter.pageSlider-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 600ms;
  transition: all 600ms; }

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000px; }

.pageSwap-leave {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.pageSwap-leave.pageSwap-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: all ease-out 500ms;
  transition: all ease-out 500ms; }

.pageSwap-enter {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0); }

.pageSwap-enter.pageSwap-enter-active {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all ease-out 500ms;
  transition: all ease-out 500ms; }

.reversePageSwap-leave {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.reversePageSwap-leave.reversePageSwap-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  -webkit-transition: all ease-out 500ms;
  transition: all ease-out 500ms; }

.reversePageSwap-enter {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0); }

.reversePageSwap-enter.reversePageSwap-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all ease-out 500ms;
  transition: all ease-out 500ms; }

.pageUp-enter {
  -webkit-transform: translateY(100%);
          transform: translateY(100%); }

.pageUp-enter.pageUp-enter-active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%); }

.pageUp-leave {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.68, -0.55, 0.265, 3);
  transition: -webkit-transform 0.7s cubic-bezier(0.68, -0.55, 0.265, 3);
  transition: transform 0.7s cubic-bezier(0.68, -0.55, 0.265, 3);
  transition: transform 0.7s cubic-bezier(0.68, -0.55, 0.265, 3), -webkit-transform 0.7s cubic-bezier(0.68, -0.55, 0.265, 3); }

.pageUp-leave.pageUp-leave-active {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

.fade-enter {
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms; }

.fade-enter.fade-enter-active {
  opacity: 1; }

.fade-leave {
  opacity: 1;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear; }

.fade-leave.fade-leave-active {
  opacity: 0;
  -webkit-transform: translateX(-20rem);
          transform: translateX(-20rem); }

/*# sourceMappingURL=app.css.map */