// TODO DRY it up


$bs: #93032E;

$tt: #84A98C;
$bm: #82735C;
$a:  #574D68;

$bw: black;

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

svg {
  -webkit-transition: color 0.4s ease 0s;
    transition: color 0.4s ease 0s;
}

#banner {
 -webkit-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}


.nav, .nav-icon, .tt-nav, .tt-header,
.bm-nav, .bm-header, .a-header, .a-nav{
  position:   relative;
 -webkit-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
  padding:    4px;
}

.bw-link {
 -webkit-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
  position:   'relative';
}

.code-icon {
  padding: 0;
}

.active-nav{
  svg{
   color: black !important;
   -webkit-transition: all 0.4s ease 0s;
   transition: all 0.4s ease 0s;
  }
  transform: scale(1.2);
 -webkit-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}



.active-project-nav{
  svg{
  //  color: white !important;
   -webkit-transition: all 0.4s ease 0s;
   transition: all 0.4s ease 0s;
  }
  transform: scale(1.4);
 -webkit-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;


}




.nav-icon:hover, .tt-nav:hover, .tt-header:hover,
.bm-nav:hover, .bm-header:hover,
.a-nav:hover, .a-header:hover,
.demo-icon:hover, .bw-link:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
 -webkit-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}

.tt-header:hover, .bm-header:hover, .a-header:hover {
  //  transform: scale(1.4);
}

.nav-icon:hover {
  // transform: scale(1.2);
}



.code-icon:hover {
  padding-top: 4px;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
 -webkit-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}

.nav:before, .nav-icon:before,
.tt-nav:before, .tt-header:before,
.bm-nav:before, .bm-header:before,
.a-nav:before, .a-header:before,
.bw-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $bs;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}


.nav-icon:before {
  width: 70%;
  left: 15%;
}

.code-icon:before, .demo-icon:before,
.bw-link:before {
  height: 0
}


.tt, .tt-header:before, .tt-header:before{
  background-color: $tt;
}
.bm, .bm-header:before , .bm-nav:before {
  background-color:  $bm;
}
.a, .a-header:before , .a-nav:before {
  background-color:  $a;
}
.bw-link:before {
  background-color: $bw;
}

.tt:hover{
  color: $tt !important;
}

.bm:hover{
  color: $bm !important;
}
.a:hover{
  color: $a !important;
}



.tt, .bm, .a{
  font-size: 24px;
  &:before{
    background-color: white;
  }
}

.nav:hover {
  font-size: 58px;
 -webkit-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}
//
// .nav:hover:before, .nav-icon:hover:before,
// .tt-nav:hover:before, .tt-header:hover:before,
// .bm-nav:hover:before, .bm-header:hover:before,
// .a-nav:hover:before, .a-header:hover:before,
// .bw-link:hover:before{
//   visibility: visible;
//   -webkit-transform: scaleX(1);
//   transform: scaleX(1);
//  -webkit-transition: all 0.4s ease 0s;
// transition: all 0.4s ease 0s;
// }

// .active-nav:hover:before, .active-project-nav:hover:before  {
//   visibility: hidden;
//   -webkit-transform: scaleX(0);
//   transform: scaleX(0);
//   -webkit-transition: all 0.4s ease 0s;
//  transition: all 0.4s ease 0s;
// }




.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000px;
}


// https://medium.com/front-end-hacking/react-page-transition-animations-9d18c90a9831#.tkryxowhm

.pageSwap-leave {
  transform: translate3d(0, 0, 0);
}

.pageSwap-leave.pageSwap-leave-active {
  transform: translate3d(-100%, 0, 0);
  transition: all ease-out 500ms;
}

.pageSwap-enter {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(100%, 0, 0);
}

.pageSwap-enter.pageSwap-enter-active {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  transition: all ease-out 500ms;

}

.reversePageSwap-leave {
  position: absolute;
  width: 100%;
   height: 100%;
  top: 0px;
  transform: translate3d(0, 0, 0);
}

.reversePageSwap-leave.reversePageSwap-leave-active {
  transform: translate3d(100%, 0, 0);
  transition: all ease-out 500ms;
}

.reversePageSwap-enter {
  transform: translate3d(-100%, 0, 0);
}

.reversePageSwap-enter.reversePageSwap-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all ease-out 500ms;
}
